.wheel {
  background-color: $scroll-gray;
  overflow: auto;
  white-space: nowrap;
  border-bottom: solid 1px $white;

  &__title {
    background-color: $title-bar-gray;
    font-size: 32px;
    text-transform: capitalize;
    color: $white;
    border-bottom: solid 2px $white;
    line-height: 1.5;
  }

  &__item {
    color: $white;
    display: inline-block;
    text-align: center;
    padding: 14px;
  }
}
