.card {
  display: inline-flex;
  padding: 15px;
  padding-right: 0;
  text-align: center;
  border: solid 1px;
  border-radius: 5px;
  margin: 10px;

  &__details {
    width: 200px;
    margin: 15px;
    padding: 15px;
    border-left: solid 1px;
  }

  &__title {
  }

  &__detail {
  }

  &__image {
    min-height: 270px;
    min-width: 150px;
  }
}
