<div class='card'>
  <img class='card__image' src={{bookCover}} alt='Book Cover'>
  <div class='card__details'>
    <h3 class='card__title'>{{title}}</h3>
    <p class='card__detail'>By: {{author}}</p>
    <p class='card__detail'>Page Count: {{pageCount}}</p>
  </div>
</div>
