// GENERAL
$bh-purple: #272369;
$bh-light-purple: #cbdbff;
$black: #000;
$white: #fff;
// $gray: #a0a0a0;
// $crimson: #dc143c;

// BOOKS
$scroll-gray: #e0dfdb;
// $soft-purple: #f9f2ff;
// $star-gold: #f79e00;

// RELATIONSHIPS
// $relationship-card-gray: #dfdfda;
